.container {
    position: relative;
    background-image: var(--card-background);
    border: 1px solid var(--foreground-extra-light);
    backdrop-filter: blur(4px);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    min-width: 0;
    overflow: hidden;
    animation: var(--animation-slide-in-down) 1s;
    transition: box-shadow 0.4s ease-in-out;
    box-shadow: 0 0 0px transparent;
}

.container::before {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;
    background: var(--card-background);
}

.container:has(.link:hover) {
    box-shadow: 0 0 12px var(--light-blue-transparent);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 36px;
    padding-left: 0.5rem;
}

.label {
    color: var(--foreground-light);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
}

.icon {
    color: var(--foreground-light);
}
