.nav {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.03);
}

.container {
    margin: 0 auto;
    padding: 0.25rem 1rem;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionsContainer {
    display: flex;
    align-items: center;
}

.linksList {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.linkLabel {
    display: flex;
    gap: 0.25rem;
    text-transform: capitalize;
}

.themeButton {
    color: var(--foreground);
    padding: 0.5rem;
}
