.nav {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.03);
}

.container {
    margin: 0 auto;
    padding: 0.25rem 1rem;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.actionsContainer {
    display: flex;
    width: 100%;
}

.linksContainer {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: space-between;
}

.mainLinkList,
.socialLinkList {
    display: flex;
    align-items: center;
    list-style: none;
}

.mainLinkList {
    gap: 1rem;
}

.mainLinkIcon {
    display: none;
}

.mainLink,
.socialLink {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.625rem;
    transition: all 0.25s ease-in-out;
}

.mainLink:hover,
.socialLink:hover {
    color: var(--foreground-highlight);
}

.socialLink:hover {
    transform: translateY(-2px) scale(1.05);
}

.themeButton {
    color: var(--foreground);
    padding: 0.5rem 0.625rem;
}
