.card {
    --columns: 3;
    --gap: 3rem;
    flex: 0 1
        calc(
            (100% / var(--columns)) -
                (var(--gap) * (var(--columns) - 1) / var(--columns))
        );
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: var(--card-background);
    border: 1px solid var(--foreground-extra-light);
    backdrop-filter: blur(4px);
    border-radius: 2rem;
    padding: 1rem 1rem 2rem;
    width: 100%;
    min-width: 0;
    box-shadow: 0 0 0px transparent;
    opacity: 0;
    transform: translateY(-2rem);
    animation: var(--animation-slide-in-down) 0.75s ease forwards;
    animation-delay: calc(var(--index) * 0.2s);
}

.card::before {
    position: absolute;
    border-radius: inherit;
    content: "";
    inset: 0;
    z-index: -1;
    background: var(--card-background);
}

.header {
    position: relative;
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: var(--card-header-background);
    border: 1px solid var(--card-header-border);
    border-radius: 1.25rem;
    padding: 1rem;
}

.iconContainer {
    align-self: center;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--card-icon-background);
    border: 1px solid var(--card-header-border);
    padding: 0.75rem;
    border-radius: 1.25rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 14px var(--card-icon-background);
    transition: all 0.2s ease-in-out;
}

.icon {
    color: var(--card-icon);
    display: block;
}

.heading {
    max-width: 140px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 0.85;
    letter-spacing: -0.035rem;
    text-shadow: 0 0 10px var(--card-icon-background);
    transition: color 0.2s ease-in-out;
}

.paragraph {
    font-size: 0.95rem;
    color: var(--foreground-light);
    line-height: 1.5;
    transition: color 0.2s ease-in-out;
}

.card:hover .heading {
    color: var(--foreground-highlight);
}

.card:hover .paragraph {
    color: var(--foreground);
}

.card:hover .iconContainer {
    transform: scale(1.05);
    box-shadow: 0 0 14px var(--card-icon-background-highlight);
}

@media (max-width: 1024px) {
    .card {
        --columns: 2;
    }
}

@media (max-width: 640px) {
    .card {
        --columns: 1;
    }
}
