.backgroundContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    background: var(--background);
    overflow: hidden;
    user-select: none;
}

.animatedCanvas {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
}

.navWrapper {
    grid-row: 1;
    grid-column: 1;
    z-index: 10;
    pointer-events: none;
}

.navWrapper > * {
    pointer-events: auto;
}

.container {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
