.container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 2rem;
}

.heading {
    letter-spacing: -0.1rem;
    font-size: 3rem;
    font-weight: 600;
}

.paragraph {
    letter-spacing: -0.025rem;
}

.highlight {
    color: var(--marine-blue);
    background: linear-gradient(45deg, var(--marine-blue), var(--light-blue));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}

.bold {
    font-weight: 700;
}

@media screen and (max-width: 576px) {
    .heading {
        font-size: 2rem;
    }
}
