.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    padding: 1rem;
    height: 100%;
}

.servicesList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.serviceItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    opacity: 0;
    transform: translateY(-2rem);
    animation: var(--animation-slide-in-down) 0.75s ease forwards;
    animation-delay: calc(var(--index) * 0.15s);
}

.serviceLabel {
    max-width: 80px;
    font-size: 0.725rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: var(--foreground-light);
}

.serviceIcon {
    color: var(--foreground-light);
}

.serviceInfoContainer {
    min-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
}

.serviceInfo {
    letter-spacing: -0.025rem;
    animation: var(--animation-reveal-element) 0.5s ease-out forwards;
    -webkit-font-smoothing: antialiased;
}

.bold {
    font-weight: 700;
}

@media screen and (max-width: 576px) {
    .container {
        padding: 0.5rem;
    }

    .servicesList {
        flex-direction: column;
    }

    .serviceItem {
        flex-direction: row-reverse;
        justify-content: start;
        gap: 1rem;
        width: 100%;
    }

    .serviceLabel {
        max-width: none;
        font-size: 0.9rem;
        text-align: left;
    }

    .serviceIcon svg {
        width: 28px !important;
        height: 28px !important;
    }

    .serviceInfoContainer {
        display: none;
    }
}
