.carousel {
    width: 100%;
    max-width: 48rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    --slide-height: 4rem;
    --slide-spacing: 1rem;
    --slide-size: 80%;
}

.viewport {
    overflow: hidden;
}

.container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

.slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-top: 1.8rem;
}

.dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.dot {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    touch-action: manipulation;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
}

.dot:before,
.dot:after {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    content: "";
}

.dot:before {
    border: 0.125rem solid var(--foreground);
}

.dot:after {
    border: 0.125rem solid var(--foreground);
    opacity: 0;
}

.dot[data-selected="true"] {
    transform: scale(1.375);
}
