.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background-image: linear-gradient(#1100ff 10%, #ff00f2);
    filter: blur(250px);
    -webkit-filter: blur(500px);
    will-change: transform;
    transition: transform 500ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(
        calc(var(--mouse-x) - 50%),
        calc(var(--mouse-y) - 50%)
    );
    z-index: -1;
}
