.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-image: linear-gradient(
        45deg,
        hsl(271, 100%, 50%) 0%,
        hsl(167, 100%, 50%) 100%
    );
    filter: blur(20px);
    -webkit-filter: blur(100px);
    will-change: transform, opacity;
    transition: transform 500ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(
        calc(var(--mouse-x) - 50%),
        calc(var(--mouse-y) - 50%)
    );
    z-index: -1;
}
