.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    background-image: radial-gradient(
            circle at center,
            rgba(0, 0, 0, 0) 1%,
            rgba(0, 0, 0, 0.0001) 2%
        ),
        linear-gradient(hsl(271, 100%, 50%) 10%, hsl(167, 100%, 50%));
    filter: blur(170px);
    -webkit-filter: blur(170px);
    will-change: transform, opacity;
    transition: transform 500ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(
        calc(var(--mouse-x) - 50%),
        calc(var(--mouse-y) - 50%)
    );
    z-index: -1;
}
