:root {
    --background: hsl(0, 0%, 5%);
    --foreground: hsl(0, 0%, 75%);
    --foreground-light: hsl(0, 0%, 60%);
    --foreground-extra-light: hsl(0, 0%, 15%);
    --foreground-highlight: hsl(0, 0%, 90%);
    --background-gradient: linear-gradient(
        135deg,
        hsl(0, 0%, 10%),
        hsl(0, 0%, 15%)
    );
    --light-blue: hsl(190, 98%, 42%);
    --light-blue-transparent: hsla(190, 98%, 42%, 0.35);
    --marine-blue: hsl(206, 79%, 50%);
    --nav-background-transparent: hsla(0, 0%, 10%, 0.7);
    --nav-menu-background: hsl(0, 0%, 10%);
    --card-background: radial-gradient(
        circle at 50% 150%,
        hsl(0, 0%, 25%, 0.3),
        hsl(0, 0%, 15%, 0.3)
    );
    --card-header-background: linear-gradient(
        145deg,
        hsl(190, 98, 42%, 0.08),
        hsl(206, 79%, 50%, 0.08)
    );
    --card-header-border: hsl(190, 98, 42%, 0.1);
    --card-icon-background: hsl(206, 79, 50%, 0.15);
    --card-icon-background-highlight: hsl(206, 79, 50%, 0.35);
    --card-icon: hsl(190, 98%, 42%);
    --box-shadow: hsla(0, 0%, 80%, 0.6);
    --max-width: 1280px;
    --animation-slide-in-down: slideInDown;
    --animation-reveal-element: revealElement;
}

html.light {
    --background: hsl(0, 0%, 95%);
    --foreground: hsl(0, 0%, 25%);
    --foreground-light: hsl(0, 0%, 40%);
    --foreground-extra-light: hsl(0, 0%, 80%);
    --foreground-highlight: hsl(0, 0%, 10%);
    --background-gradient: linear-gradient(
        135deg,
        hsl(0, 0%, 90%),
        hsl(0, 0%, 85%)
    );
    --nav-background-transparent: hsla(0, 0%, 90%, 0.7);
    --nav-menu-background: hsl(0, 0%, 90%);
    --card-background: radial-gradient(
        circle at 50% 150%,
        hsl(0, 0%, 95%, 0.3),
        hsl(0, 0%, 75%, 0.3)
    );
    --card-header-border: hsl(206, 79, 50%, 0.1);
    --card-icon-background: hsl(190, 98%, 42%, 0.15);
    --card-icon-background-highlight: hsl(190, 98%, 42%, 0.35);
    --card-icon: hsl(206, 79%, 50%);
    --box-shadow: hsla(0, 0%, 20%, 0.6);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Inter", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin: 56px auto 0;
    max-width: var(--max-width);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    gap: 1rem;
    min-height: calc(100vh - (56px + 264px));
}

@media screen and (max-width: 768px) {
    .container {
        margin: 50px auto 0;
    }
}

@keyframes slideInDown {
    from {
        opacity: 0;
        transform: translateY(-2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes revealElement {
    from {
        opacity: 0;
        filter: blur(8px);
        transform: translateY(0.25rem);
    }

    to {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(0);
    }
}
