:root {
    --background: hsl(0, 0%, 5%);
    --foreground: hsl(0, 0%, 75%);
    --foreground-light: hsl(0, 0%, 60%);
    --foreground-extra-light: hsl(0, 0%, 20%);
    --foreground-highlight: hsl(0, 0%, 90%);
    --light-blue: hsl(190, 90%, 51%);
    --light-blue-transparent: hsla(190, 90%, 51%, 0.35);
    --marine-blue: hsl(206, 79%, 50%);
    --nav-menu-background: hsla(0, 0%, 0%, 0.65);
    --card-background: hsla(0, 0%, 0%, 0.12);
    --max-width: 1280px;
}

html.light {
    --background: hsl(0, 0%, 95%);
    --foreground: hsl(0, 0%, 25%);
    --foreground-light: hsl(0, 0%, 40%);
    --foreground-extra-light: hsl(0, 0%, 80%);
    --foreground-highlight: hsl(0, 0%, 10%);
    --nav-menu-background: hsla(0, 0%, 100%, 0.65);
    --card-background: hsla(0, 0%, 100%, 0.12);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Inter", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    gap: 1rem;
}
