.nav {
    backdrop-filter: blur(20px);
    background: var(--nav-menu-background);
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0.25rem 1rem;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logoIcon {
    display: flex;
    transition: all 0.5s ease-in-out;
}

.logoIcon:hover {
    filter: drop-shadow(0 0 8px var(--light-blue-transparent));
}

.clientContainer {
    display: flex;
    width: 100%;
}

.linksContainer {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: space-between;
}

.mainLinkList,
.socialLinkList {
    display: flex;
    align-items: center;
    list-style: none;
}

.mainLinkList {
    gap: 1rem;
}

.mainLinkIcon {
    display: none;
}

.socialLinkIcon {
    display: flex;
}

.mainLink,
.socialLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 0.625rem;
    transition: all 0.25s ease-in-out;
}

.mainLink:hover,
.socialLink:hover {
    color: var(--foreground-highlight);
    filter: drop-shadow(0 0 8px var(--light-blue));
}

.socialLinkLabel {
    display: none;
}

.actionsContainer {
    display: flex;
}

.settingsContainer {
    display: none;
    cursor: pointer;
}

.dropdownIcon,
.dropdownIconActive {
    padding: 0 0.625rem;
    transition: all 0.3s;
}

.dropdownIconActive {
    transform-origin: center;
    transform: rotate(180deg);
}

.settingsIcon {
    color: var(--foreground);
}

.optionsContainer {
    display: none;
}

.optionsContainerActive {
    position: absolute;
    top: 58px;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--background);
    border-radius: 0.5rem;
    min-width: 180px;
    box-shadow: 0 0 8px var(--light-blue-transparent);
}

.settingButton,
.mobileButton {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    color: var(--foreground);
    padding: 0.5rem 0.625rem;
}

.settingButton:hover {
    color: var(--foreground-highlight);
    filter: drop-shadow(0 0 8px var(--light-blue));
}

.optionButton {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: 0.5rem 0.625rem;
}

.optionsContainerActive {
    display: flex;
    flex-direction: column;
    background: var(--background);
    border-radius: 0.5rem;
}

.optionIconActive {
    color: var(--foreground-light);
}

.optionIconInactive {
    visibility: hidden;
}

.optionLabel {
    font-size: 1rem;
    color: var(--foreground);
    transition: all 0.3s ease-in-out;
}

.optionButton:hover .optionLabel {
    color: var(--foreground-light);
}

.mobileButton {
    display: none;
}

/* -------------- MEDIA QUERIES -------------- */

@media screen and (max-width: 1024px) {
    .linksContainer {
        justify-content: end;
        gap: 0;
    }

    .mainLinkList {
        gap: 0;
    }

    .mainLinkLabel {
        display: none;
    }

    .mainLinkIcon {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .container {
        justify-content: center;
    }

    .clientContainer {
        display: none;
    }

    .clientContainerActive {
        background: var(--nav-menu-background);
        position: absolute;
        top: 50px;
        left: 0;
        justify-content: start;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        padding: 1rem;
        z-index: 100;
        height: calc(100dvh - 50px);
        pointer-events: auto;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .linksContainer {
        flex-direction: column;
        align-items: start;
        gap: 2rem;
    }

    .actionsContainer {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
    }

    .settingButton {
        display: none;
    }

    .settingsContainer {
        display: flex;
        justify-content: space-between;
        padding: 0.75rem 0.625rem;
        width: 100%;
    }

    .settingsWrapper {
        display: flex;
        gap: 1.25rem;
    }

    .optionButton {
        padding: 0.75rem 0.625rem;
    }

    .optionsContainerActive {
        position: static;
        width: 100%;
    }

    .optionLabel {
        display: block;
    }

    .mainLinkList,
    .socialLinkList {
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
        width: 100%;
    }

    .linkListItem {
        width: 100%;
    }

    .mainLink,
    .socialLink {
        align-items: start;
        gap: 1.25rem;
        width: 100%;
    }

    .mainLinkLabel,
    .socialLinkLabel {
        display: block;
    }

    .mobileButton {
        display: block;
        position: absolute;
        right: 1rem;
    }
}
